In [4]:
import pandas as pd; import hopsworks

In [2]:
project = hopsworks.login()
fs = project.get_feature_store()

Copy your Api Key (first register/login): https://c.app.hopsworks.ai/account/api/generated
Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/21674
Connected. Call `.close()` to terminate connection gracefully.

In [10]:
#Load flight query data
query_df = pd.read_csv('./Flight Dataset/recent_flight_price_query.csv')
query_df.head()

,id,departure_time,arrival_time,total_stops,airline,source,destination,price
0,0,2023-05-11 08:45,2023-05-11 08:45,0,Jet Airways,Delhi,Cochin,6563.29
1,1,2023-05-11 08:45,2023-05-11 08:45,2,Multiple carriers,Delhi,Hyderabad,4999.53
2,2,2023-05-12 08:45,2023-05-13 07:30,2,Multiple carriers,Kolkata,Hyderabad,9610.24
3,3,2023-05-12 08:45,2023-05-13 07:30,0,Vistara,Kolkata,Hyderabad,7931.05

In [12]:
#Load feature group
#initial backfilling of flight queries
query_fg = fs.get_or_create_feature_group(name="flightquery",
                                  version=1,
                                  primary_key=["id"],
                                  description="Saving flight price prediction queries by users"
                                 )
query_fg.insert(query_df)

Uploading Dataframe: 0.00% |          | Rows 0/4 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/21674/jobs/named/flightquery_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x7f4f2755e3a0>, None)